@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    color: #333;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #007bff;
}

.blob {
    animation: blobAnimation 5s ease-in-out infinite;
    margin: 20px;
    box-shadow: 0 0px 0px 1px black;
    transition: all 1s ease-in-out;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}

@keyframes blobAnimation {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;

    }
}